
*{
    padding: 0;
    margin:0;
}
nav{
    background-color: #3182DE;
    height: 60px;
    
}

span {
    color: #FFFF;
}

span a {
    text-decoration: none;
    color: #FFFF;
}
span a:hover{
    color: #4E31DE;
}

span img {
    width: 40px;
    height: 40px;
}

/*
#3182DE
#314BDE
#314BDE principal
#31DECC
#4E31DE
#7BA9DE
*/